<!DOCTYPE html>
<head>
    <title>2024 год - время перемен</title>
</head>
<body>
<article>
    <h1>Движение - за возвращение к жизни</h1> 
    <hr>
    Для многих из нас не является секретом что в последние года качество нашей жизни в Израиле заметно ухучшилось<br>
    Этому есть причины:<br>
    <ul>
        <il>1. Корона</il><br>
        <il>2. Мировой экономический кризис</il><br>
        <il>3. Реформа судебной системы в Израиле</il><br>
        <il>4. Реформа призыва в армию</il><br>
        <il>5. Реформа финансовой системы</il><br>
        <il>6. Специальная военная операция на юге и в Ливане\Сирии</il><br>
        <il>7. Постоянные террористические акты на территориях других государств</il><br>
        <il>8. Разрушение хайтека</il><br>
    </ul>
    этот список думаю можно продолжить....<br>
</article>
</body>
</html>